table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
div{
    padding: 2% 2% 2% 2%;
    border-bottom: 1px solid #dddddd;
}