table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  
}
td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background: #7c8d8b;
    color: white;
}
th{
    padding: 8px;
    background: #dddddd;
    color: black;
}
div{
    padding: 2% 2% 2% 2%;
    border-bottom: 1px solid #dddddd;
}